.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerComponent {
    align-content: center;
}

.headerLogo img {
    display: block;
}

.version {
    font-weight: bold;
}
