.StarComponent {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: gold;
}

.NumberComponent {
    font-weight: bold;
    font-family: Arial, sans-serif;
    align-self: center;
    color: white;
}