.DropZone{
    border-width: 3px;
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 2px;
    width: 50%;
    min-height: 200px;
    align-content: center;
}

.DragInformation{
    text-align: center;
}

.Preview{
    align-content: start;
}