.uploadPage {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dropZone {
    margin-top: 8px;
}

.informations {
    margin-left: 5%;
}

.euroMillionsLink {
    font-weight: bold;
    text-decoration: underline;
}
