:root {
    --main-background: #001367;
    --second-background: #3b82f680;
    --main-font-color: #000000;
    --second-font-color: var(--second-background);
    --main-color: var(--second-background);
    --title-size: 40px;
    --text-size: 18px;
}